/*Customers Page*/

/* TODO Make this background color a variable for account pages */
.template-customers-login, .template-customers-account, .template-customers-register{
  #content {
    background: $color-account-bg;
  }
}


// Form Styles
.input--ichiro {
  float: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  &--ichiro {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: $font-family-helvetica-neue;
    -webkit-appearance: none; /* for box shadows to show on iOS */

    &:focus {
      outline: none;
    }
  }
  &--ichiro {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
    display: block;
    padding: 0 0.55em;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #f0f0f0;
    color: #7F8994;
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }
}
/* Used on Address.html */

.account-label{
  margin-bottom:15px;
}



.input__label{
  font-family:$font-family-account-labels;
  &--ichiro {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &-content--ichiro {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
  }
  &--ichiro {
    width: 100%;
    text-align: left;
    cursor: text;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }
  }
  &-content--ichiro {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
}

.input__field--ichiro:focus,
.input--filled .input__field--ichiro {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.input__field--ichiro:focus + .input__label--ichiro,
.input--filled .input__label--ichiro {
  cursor: default;
  pointer-events: none;
}

.input__field--ichiro:focus + .input__label--ichiro::before,
.input--filled .input__label--ichiro::before {
  -webkit-transform: scale3d(1, 1.5, 1);
  transform: scale3d(1, 1.5, 1);
}

.input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
.input--filled .input__label-content--ichiro {
  -webkit-transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}



.has-error .form-control:focus,
.form-control,
.form-control:focus {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* Login Form */
#customer-login-form {
  padding: 0 15px;
}

/* Not Used */
.shopify-challenge__container {
  font-family: $font-family-account-main;
  margin: 50px auto !important;
  .btn {
    @extend .btn-brand-account;
    color: #fff;
    background: $color-brand-primary;
    &:hover {
      background: $color-brand-primary;
    }
  }
}

/* Not Used */
.def-btn {
  @extend .btn-brand-account;
  margin-left: 15px;
  &:hover {
    background: $color-brand-primary;
  }
}

/* Login Page Only */
.form-wrapper-horizontal #customer-login-form form #login_password {
  margin-left: 15px;
}
.form-wrapper-horizontal #customer-login-form #forgotten-password-link {
  font-family: $font-family-account-main;
}
.form-wrapper-horizontal #customer-login-form form .form-group.sign-in-div {
  .btn {
    @extend .btn-brand-account;
    &:hover {
      background: $color-cart-button;
    }
  }
}
.reset-btn .btn {
  @extend .btn-brand-account;
  &:hover {
    background: $color-cart-button;
  }
}


/* Account Page Only */
#customer_details {
  font-family: $font-family-account-main;
}




/* Addresses Only*/
.customer_addresses {
  font-family: $font-family-account-main;
}

/* Addresses Only*/
#customer-address-form {
  font-family: $font-family-account-main;
  .form-control, .form-control:focus {
    border: 1px solid #000;
    margin-top: 5px;
  }
  .btn {
    @extend .btn-brand-account;
    &:hover {
      background: $color-brand-primary;
    }
  }
}
/* Addresses Only*/
.form-wrapper-horizontal #customer-address-form form .control-label {
  text-align: left;
}

/* Not Used */
.no-results {
  font-family: $font-family-account-main;
}

/* Customer */
.form-wrapper-horizontal{
  #customer-register-form form,
  #customer-login-form form,
  #customer-recover-password-form form,
  #customer-password-form form,
  #customer-address-form form{
    @extend .form-horizontal;
  }
}
.quick-cart {
  @include make-row();
  padding: $thumbnail-caption-padding;
  .quick-cart-btn-wrapper {
    @include make-sm-column(6);
    margin-top: 1em;
  }
}
.quick-cart-btn {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-block;
  &.view {
    @extend .btn-default;
  }
  &.add-to-cart {
    @extend .btn-primary;
  }
}
.dl-horizontal-left{
  @extend .dl-horizontal;
  dt{
    text-align: left;
  }
}


@media screen and (max-width: 1199px) {
  .form-wrapper-horizontal #customer-login-form #forgotten-password-link,
  .form-wrapper-horizontal #customer-login-form form .form-group.sign-in-div,
  .form-wrapper-horizontal #customer-login-form form .form-group.reg-div {
    margin-left: -16px;
  }
}


@media screen and (max-width: 767px) {

  .form-wrapper-horizontal #customer-login-form form #login_password {
    margin-left: -15px;
  }
  .input__label--ichiro {
    font-size: 12px;
  }
  #login_email,
  #login_password {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #customer-register-form {
    .form-group {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}


#swell-bootstrap{

  .rewards-templete{

    h1, h2, h3, h4, h5, h6{
      letter-spacing: 0;
      word-spacing: 0;
      text-transform: capitalize;
      padding: 5px 10px;

    }

    .banner .img-responsive {
      margin: 0;
      min-height: 180px;
    }
    .container .row {
      margin-right: 0;
      margin-left: 0;
    }

    .caption{
      h1 {
        font-size: 36px;
        color: #111144;
        margin: 10px 0;
        padding: 0;
        opacity: 1;
        float: none;
        display: block;
        width: 100%;
        height: auto;
        background: transparent;
      }
      p {
        font-size: 14px;
        color: #111144;
        opacity: 1;
        float: none;
        display: block;
        width: 100%;
        height: auto;
        background: transparent;
      }
    }

    .point-circle{
      background-color: #111144;

      h2, p{
        opacity: 1;
        float: none;
        display: block;
        width: 100%;
        height: auto;
        background: transparent;

      }
    }

    .earn-section {
      padding-top: 25px;
    }
    .rewards-page-campaigns-section-image {
      background-position: center;
      background-size: cover;
      width: 100%;
    }
    .redeem-section {
      padding-top: 0;
    }
    .rewards-page-redeem-section-image {
      background-position: center;
      background-size: cover;
      width: 100%;
    }

    .banner{
      overflow: inherit ;
      position: relative ;
      -webkit-background-size: cover ;
      -moz-background-size: cover ;
      -o-background-size: cover ;
      background-size: cover ;

      .caption{
        width: 100% ;
        text-align: center ;
          h1, p{
            font-family: $font-family-account-main;
            text-transform: uppercase;
            color: #000;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            margin-top: 20px;

          }

      }

      .point-circle{
        bottom: -63px ;
        left: 0 ;
        right: 0 ;
        margin: 0 auto ;
        border-radius: 100% ;
        text-align: center ;
        vertical-align: middle ;
        width: 170px ;
        height: 170px ;
        font-size: 25px ;

        h2{
          font-size: 60px ;
          margin: 30px 0 0 ;
          line-height: 55px ;

        }
      }


    }



  } /* Rewards templete end */
}

#swell-bootstrap .rewards-templete .main-block .heading-holder {
  text-align: center ;
  margin: 0;
  font-size: 20px ;
}
#swell-bootstrap .rewards-templete .main-block .heading-holder h2 {
  text-transform: capitalize ;
  font-size: 40px;
  font-weight: normal ;
  margin: 0 ;
  text-align: center ;
}
#swell-bootstrap .rewards-templete .main-block .heading-holder p {
  text-align: center ;
}
#swell-bootstrap .rewards-templete .main-block .block-holder {
  margin-bottom: 0 ;
  overflow: hidden ;
}
#swell-bootstrap .rewards-templete .main-block .block-holder .item-box {
  min-height: 230px ;
  text-align: center ;
  padding: 15px;
  margin-bottom: 20px ;
  overflow: hidden ;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#swell-bootstrap .rewards-templete .main-block .block-holder .item-box .icon-holder {
  max-width: 60px ;
  margin: 0 auto ;
  border-radius: 100% ;
  text-align: center ;
}
#swell-bootstrap .rewards-templete .main-block .block-holder .item-box .icon-holder i {
  font-size: 30px ;
  padding: 3px 0 0 ;
}
#swell-bootstrap .rewards-templete .main-block .block-holder .item-box h3 {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 10px auto;
}
#swell-bootstrap .rewards-templete .main-block .block-holder .item-box h2 {
  margin: 0 auto 10px auto;
  text-align: center;
  display: block;
  width: 130px;
  background: #65c402;
  font-family: $font-family-account-main;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0 !important;
}
#swell-bootstrap .rewards-templete .referral-block {
  padding: 5px 0 0 0;
  text-align: center ;
  font-size: 20px ;
  height: auto ;
}
#swell-bootstrap .rewards-templete .referral-block h2 {
  font-size: 40px;
  font-weight: normal ;
  margin-bottom: 3px ;
  text-align: center ;
  opacity: 1 ;
  float: none ;
  display: block ;
  width: 100% ;
  height: auto ;
  background: transparent ;
}
#swell-bootstrap .rewards-templete .referral-block p {
  text-align: center ;
  opacity: 1 ;
  float: none ;
  display: block ;
  width: 100% ;
  height: auto ;
  background: transparent ;
}
#swell-bootstrap .rewards-templete .referral-block .share-link {
  font-family: $font-family-account-main;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
#swell-bootstrap .rewards-templete .referral-block .swell-referral-link{
  text-transform: lowercase;
  height: auto !important;
  margin: 0;
  text-align: center;
}
#swell-bootstrap .rewards-templete .btn-block ul {
  text-align: center ;
  padding: 0 ;
  margin: 15px 0 0 ;
  opacity: 1 ;
  float: none ;
  display: block ;
  width: 100% ;
  height: auto ;
  background: transparent ;
}
#swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li {
  display: block ;
}
#swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li a {
  display: inline-block ;
  width: 92% ;
  margin: 0 0 10px ;
}
#swell-bootstrap .rewards-templete .btn-block ul li {
  display: inline-block ;
  padding: 0 ;
  margin: 0 10px 10px ;
  font-size: 14px ;
  cursor: pointer ;
}
#swell-bootstrap .rewards-templete .btn-block ul li a {
  padding: 12px 5px ;
  color: #FFFFFF ;
  border: 2px solid #FFFFFF ;
  min-width: 180px ;
  display: inline-block;
}
#swell-bootstrap .rewards-templete .btn-block ul li a:hover {
  background-color: #FFFFFF ;
  color: #111144 ;
  text-decoration: none ;
}
#swell-bootstrap .rewards-templete .faq-block {
  text-align: center ;
  padding: 50px 0 ;
  background-color: #D9E1F6 ;
}
#swell-bootstrap .rewards-templete .block-holder .heading-holder h2 {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#swell-bootstrap .rewards-templete .block-holder .heading-holder p {
  font-family: $font-family-account-main;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
  display: block;
  margin: 10px auto;
}
#swell-bootstrap .rewards-templete .faq-block .content-block {
  background-color: #D9E1F6 ;
}
#swell-bootstrap .rewards-templete .faq-block .content-block h2 {
  color: #58595B ;
  margin: 0 ;
  font-size: 22px ;
  text-align: center ;
  opacity: 1 ;
  float: none ;
  display: block;
  width: 100% ;
  height: auto ;
  padding: 0 ;
  background: transparent ;
}
#swell-bootstrap .rewards-templete .faq-block .content-block p {
  color: #58595B ;
  margin-bottom: 25px ;
  font-size: 15px ;
  opacity: 1 ;
  float: none ;
  display: block;
  width: 100% ;
  height: auto ;
  padding: 0 ;
  background: transparent ;
}
#swell-bootstrap .container.how-container {
  margin-top: 35px;
  display: flex;
}
.how-container .col-md-4 {
  background-image: url(#{$rewards-login-bg-img});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#swell-bootstrap .how-container .col-md-4 .login-swell {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #65c402;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.how-container .col-md-4 .earn-swell {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
#swell-bootstrap .how-container .col-md-4 .login-swell-btn {
  margin: 0 auto 10px auto;
  text-align: center;
  display: block;
  width: 130px;
  padding: 5px 0;
  background: #65c402;
  font-family: $font-family-account-main;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
#swell-bootstrap .how-container .col-md-4 .login-swell-btn:hover {
  background: #fff;
  color: $color-cart-button;
  text-decoration: none;
}
#swell-bootstrap .how-container .col-md-4 .signup-swell-btn {
  font-family: $font-family-account-main;
  color: #fff;
  font-weight: 500;
}
#swell-bootstrap .how-container .col-md-4 .signup-swell-btn a {
  color: #65c402;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
#swell-bootstrap .how-container .col-md-4 .signup-swell-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.green-line {
  height: 3px;
  width: 50px;
  display: block;
  margin: 0 auto 15px auto;
  background: #65c402;
}
.grey-line {
  height: 1px;
  max-width: 500px;
  display: block;
  margin: 0 auto 15px auto;
  background: #777;
}
#swell-bootstrap .give-container {
  display: flex;
  padding: 0;
}
#swell-bootstrap .give-container .col-md-8 {
  padding: 30px 15px;
  background: #000;
}
#swell-bootstrap .give-container .col-md-4 {
  background-image: url(https://cdn.shopify.com/s/files/1/0259/2151/files/RS25-ActionShot.jpg?757811375787633573);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#swell-bootstrap .give-container .col-md-8 .give-10 {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #65c402;
  font-size: 30px;
  font-weight: 500;
}
#swell-bootstrap .give-container .col-md-8 .refer-friends {
  font-family: $font-family-account-main;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
  max-width: 500px;
  display: block;
  margin: 10px auto;
  border-bottom: 1px solid #777;
}
#swell-bootstrap .give-container .col-md-8 .ref-login {
  margin: 20px auto 10px auto;
  text-align: center;
  display: block;
  width: 180px;
  padding: 5px 0;
  background: #65c402;
  font-family: $font-family-account-main;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
#swell-bootstrap .give-container .col-md-8 .ref-login:hover {
  background: #fff;
  color: $color-cart-button;
  text-decoration: none;
}
#swell-bootstrap .give-container .col-md-8 .ref-reg {
  margin: 0 auto 10px auto;
  text-align: center;
  display: block;
  width: 180px;
  padding: 5px 0;
  background: #65c402;
  font-family: $font-family-account-main;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
#swell-bootstrap .give-container .col-md-8 .ref-reg:hover {
  background: #fff;
  color: $color-cart-button;
  text-decoration: none;
}
#swell-bootstrap .rewards-templete .main-block .block-holder #redeem-options-region .item-box h2 {
  background: transparent;
}
#redeem-options-region {
  display: flex;
}
#swell-bootstrap #rewards-page-redeem-options-region .container {
  padding: 0 30px;
}
#swell-bootstrap #redeem-options-region .col-md-4 {
  padding: 0;
}
#redeem-options-region .col-md-4:nth-child(1) .item-box{
  background-color: #63c01e;
}
#redeem-options-region .col-md-4:nth-child(2) .item-box{
  background-color: #58a81a;
}
#redeem-options-region .col-md-4:nth-child(3) .item-box{
  background-color: #519918;
}
#redeem-options-region .col-md-4:nth-child(4) .item-box{
  background-color: #4a8a15;
}
.you-have {
  font-family: $font-family-account-main;
  text-transform: uppercase;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.you-have p {
  display: inline-block;
}





@media (max-width: 991px) {
  #swell-bootstrap .container.how-container {
    display: block;
    margin-top: 15px;
  }
  #swell-bootstrap .how-container .col-md-8 {
    padding: 0;
  }
  .how-container .col-md-4 {
    margin-top: 15px;
    margin-right: 0;
    padding: 15px;
  }
  #swell-bootstrap .give-container {
    display: block;
    padding: 0;
  }
  #swell-bootstrap .give-container .col-md-4 {
    display: none;
  }
  #swell-bootstrap #rp-campaigns-region .col-md-4 {
    padding: 0;
  }
  #swell-bootstrap #rewards-page-redeem-options-region .container {
    padding: 0 15px;
  }
}
@media (max-width: 786px) {
  #swell-bootstrap .rewards-templete .banner {
    padding: 0;
  }
  #swell-bootstrap .rewards-templete .banner .caption h1 {
    font-size: 17px;
  }
  #swell-bootstrap .rewards-templete .block-holder .heading-holder h2 {
    font-size: 20px;
  }
  #redeem-options-region {
    display: block;
  }
  #swell-bootstrap .rewards-templete .banner .caption{
    top:20% ;
  }
  #swell-bootstrap .rewards-templete .banner .point-circle {
    bottom: -35px ;
    width: 70px ;
    height: 70px ;
    font-size: 16px ;
  }
  #swell-bootstrap .rewards-templete .banner .point-circle h2 {
    font-size: 20px ;
    margin: 15px 0 0 ;
    line-height: 20px ;
  }
  #swell-bootstrap .rewards-templete .hover-logout-box .btn-block ul li {
    width: 100% ;
    margin: 0 0 10px ;
  }
  .you-have {
    font-size: 20px;
  }
  #swell-bootstrap .give-container .col-md-8 .give-10 {
    font-size: 24px;
  }
}


#swell-bootstrap .btn-earn-points{
  @extend .btn-brand-account;
}
#swell-bootstrap .btn-earn-points:hover{
  color: white;
  background: $color-brand-primary;
  text-decoration: none;
}
.rewards-templete .divider-text {
  color: #FFFFFF;
}
.rewards-templete .referral-block .social-icon ul {
  font-family: $font-family-account-main;
  font-weight: 500;
  font-size: 14px;
  padding: 0 !important;
  margin: 20px 0 0 !important;
  list-style: none !important;
  text-align: center !important;
}
.rewards-templete .referral-block .social-icon ul li {
  color: #777;
  display: inline-block;
  cursor: pointer !important;
  margin: 0 10px;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
.rewards-templete .referral-block .social-icon ul li i {
  color: #777;
  font-size: 24px !important;
  margin-top: 13px !important;
  margin-right: 5px;
  position: relative;
  top: 3px;
  -webkit-transition: all .3s ease-out 0.1s;
  -moz-transition: all .3s ease-out 0.1s;
  -o-transition: all .3s ease-out 0.1s;
  transition: all .3s ease-out 0.1s;
}
.rewards-templete .referral-block .social-icon ul li:hover {
  color: #65c402;
}
.rewards-templete .referral-block .social-icon ul li:hover i {
  color: #65c402;
}