
@media (max-width: $screen-sm-max){
  .article-container {
    .dfptiledesktop {
      margin: 0 auto;
    }
  }
}
@media (max-width: $screen-md){
  .dfptilemobile{
    //width: 300px;
    //height: 250px;
    margin: 0 auto;
  }
}
@media (min-width: $screen-md){
  .dfpbanner{
    //width: 728px;
    //height: 90px;
    margin: 0 auto;
  }
  .dfptiledesktop{
    //width: 300px;
    //height: 250px;
    margin: 0 auto;
  }
}

.article-container {
  .dfptiledesktop {
    margin: inherit;
  }
}
