.btn-brand-default{

   display: inline-block;
   text-align: center;
   padding: 5px 15px;
   margin-bottom: 20px;
   border: 2px solid #000;
   border-radius:0;
   font-weight:500;
   color: #000;
   font-family: $font-main-buttons;
   font-size: 16px;
   text-transform: uppercase;

   &:hover, &:focus{
     color: #fff;
     background: $color-brand-primary;
     border-color: $color-brand-primary;
   }

 }
.btn-brand-double{
  background-color:$color-brand-secondary;
  border-color:$color-brand-secondary;

  color:#fff;

  &:hover, &:focus{
    color:#fff;
    background-color:$color-brand-primary;
    border-color:$color-brand-primary;

  }

  &.inverted{

    background-color:$color-brand-primary;
    border-color:$color-brand-primary;

    &:hover, &:focus{

      background-color:$color-brand-secondary;
      border-color:$color-brand-secondary;
    }
  }

}

.btn-brand-inverse{
  color: #FFF;
  background-color:$color-brand-primary;
  border-color: $color-brand-primary;

  &:hover, &:focus{
    color: #000;
    background-color:#FFF;
    border-color: $btn-dark-bg;

  }
}


.btn-default, .quick-cart-btn.view {
  color: #000;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.btn{

  font-family:$font-main-buttons;
  text-transform:uppercase;
}

.btn-button-brand{

  /*
  @include button-variant($color, $background, $border);
  */
 @include button-variant-mvp($color-brand-primary, #FFF,  $color-brand-primary, 2px);
  /*
  @@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
  */
  @include button-size(5px, 15px, 16px, 1.1, 0);
}

#update-cart,
.checkout-btn {
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-account-buttons;
  font-size: 22px;
  letter-spacing: 1px;
  border-radius: 0;
  border: 0;
  background: $color-cart-button;
  color: #fff;
  outline: none;
  &:hover {
    background: $color-brand-primary;
  }
}

/* Button Used for Account Pages */

.btn-brand-account{

  cursor: pointer;
  padding: 5px 20px;
  width:auto;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-account-buttons;
  font-size: 22px;
  letter-spacing: 1px;
  border-radius: 0;
  border: 0;
  background: $color-cart-button;
  color: $button-brand-primary-text;
  outline: none;
  margin-bottom:15px;
  @include   animation-mixin (all,0.3,ease-out,0.1)  -webkit-transition: all .3s ease-out 0.1s;
  &:hover {
    color:$button-brand-primary-text;
    background: $color-brand-primary-nav;
  }
}

.btn-brand-account-inverted{

  @extend .btn-brand-account;
  color:$button-brand-primary-text;
  background: $color-brand-primary-nav;
  &:hover{

    background: $color-cart-button;
    color: $button-brand-primary-text;
  }
}

.btn-light {
  color:#000;
  background-color:$btn-light-bg;
  border-color: $btn-light-bg;
}
.btn-dark {

  color:$btn-dark-color;
  background-color:$btn-dark-bg;
  border-color: $btn-dark-border;

}
.btn-trans {

  color:$btn-dark-color;
  background-color:transparent;
  border-color: $btn-light-border;

}



/* Product Slider Buttons */
.btn-slider-nav{
  font-size: 40px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: rgba(119, 119, 119, 0.6);
  text-align: center;
  border-radius: 50%;

  &:hover{
    background: rgba($color-brand-primary, 1);

  }
}

/* Blog and News Page Buttons */
.blog-search {
  button {
    width: 20%;
    border: 2px solid #000;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    background: #fff;
    -webkit-transition: all .3s ease-out 0.1s;
    -moz-transition: all .3s ease-out 0.1s;
    -o-transition: all .3s ease-out 0.1s;
    transition: all .3s ease-out 0.1s;
    i {
      color: #000;
    }

    &:hover {
      background: $color-brand-primary;
      border-color: $color-brand-primary;
      i {
        color: #fff;
      }
    }
  }
}



.dark-block{

  *.btn-brand-default{
    color: #FFF;
    border-color:#FFF;
    &:hover, &:focus{
      border-color:$color-brand-primary;
    }
  }

  *.btn-brand-inverse{
    color:#fff;
    border-color:$color-brand-primary;
    &:hover, &:focus{

      color: #FFF;
      background-color:#000;
      border-color:#FFF;
    }
  }

  *.btn-brand-double{
    border-color:$color-brand-secondary;

    &.inverted {
      border-color:$color-brand-primary;
      &:hover{

        border-color:$color-brand-secondary;
      }
    }
  }

  *.btn-light{
    color:#000;
    &:hover{
      color:#FFF;
    }
  }
  *.btn-trans {
    color:$btn-dark-color;
    background-color:transparent;
    border-color: $btn-dark-color;
    &:hover{
      color:$btn-dark-color;
      background-color:$color-brand-primary;
      border-color: $color-brand-primary;
    }
  }

  *.blog-search{

    button{
      border-color:#FFF;

    &:hover{

      border-color: $color-brand-primary;
    }
    }
  }

}
/* Button Mixins */

@mixin slick-nav-button($left_post:auto, $right_pos:auto){
  position: absolute;
  top: 45%;
  left: $left_post;
  right: $right_pos;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  span {
    @extend .btn-slider-nav;
    &:before{
      @if $left_post == auto {
        padding-left:3px;
      } @else {
        padding-right:3px;
      }
    }
  }
}


.btn-product-reveal{
  @extend .btn-brand-default;
  background: #000;
  outline: none !important;
  border: none;
  border-radius: 0;
  margin-top: 15px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  font-family: $font-family-bebas;
  text-transform: uppercase;
}

.btn-brand-sm{
  font-size:14px;
}

.btn-brand-secondary{

  font-family: $font-secondary-buttons;
  font-weight:300;
  padding: 8px 15px 10px 15px;

}

.btn-secondary{

   font-family: 'DIN Bold';
   background: transparent;
   border: 2px solid #ddd;
   padding: 10px 20px;
   outline: none;
   font-size: 16px;
   color: #fff;
   -webkit-appearance: none;
   border-radius: 0;

 }

.btn-brand-tertiary{
  font-family: $font-brand-button-tertiary;
}


.btn-primary{

  background-color: $color-brand-primary-nav;
  color:$button-brand-primary-text;
}
.btn-primary:hover{


}


// Focus and Hover states TODO Make Modular using scss

.btn-primary:focus, .purchase-btn:focus, .quick-cart-btn.add-to-cart:focus, .btn-primary.focus, .focus.purchase-btn, .focus.quick-cart-btn.add-to-cart {
  color: #fff;
  background-color: #4b9201;
  border-color: #396e01;
}

.btn-primary:active, .purchase-btn:active, .quick-cart-btn.add-to-cart:active, .btn-primary.active, .active.purchase-btn, .active.quick-cart-btn.add-to-cart, .open > .btn-primary.dropdown-toggle, .open > .dropdown-toggle.purchase-btn, .open > .dropdown-toggle.quick-cart-btn.add-to-cart {
  color: #fff;
  background-color: #4b9201;
  border-color: #396e01;
}
.btn-primary:active:hover, .purchase-btn:active:hover, .quick-cart-btn.add-to-cart:active:hover, .btn-primary:active:focus, .purchase-btn:active:focus, .quick-cart-btn.add-to-cart:active:focus, .btn-primary:active.focus, .purchase-btn:active.focus, .quick-cart-btn.add-to-cart:active.focus, .btn-primary.active:hover, .active.purchase-btn:hover, .active.quick-cart-btn.add-to-cart:hover, .btn-primary.active:focus, .active.purchase-btn:focus, .active.quick-cart-btn.add-to-cart:focus, .btn-primary.active.focus, .active.focus.purchase-btn, .active.focus.quick-cart-btn.add-to-cart, .open > .btn-primary.dropdown-toggle:hover, .open > .dropdown-toggle.purchase-btn:hover, .open > .dropdown-toggle.quick-cart-btn.add-to-cart:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .dropdown-toggle.purchase-btn:focus, .open > .dropdown-toggle.quick-cart-btn.add-to-cart:focus, .open > .btn-primary.dropdown-toggle.focus, .open > .dropdown-toggle.focus.purchase-btn, .open > .dropdown-toggle.focus.quick-cart-btn.add-to-cart {
  color: #fff;
  background-color: #4b9201;
  border-color: #396e01;
}


// Foundation Button
.foundation-learn {
  font-family: $font-main-buttons;
  font-weight: 500;
  display: block;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 5px 8px 5px;
  width: 120px;
  margin: 5px 0 0 0;

  &:hover {
    background: $color-brand-primary;
    color: #fff;
    border-color: $color-brand-primary;
  }
}

//Owl News Button

.news-readmore {
  @extend .btn-brand-default, .btn-brand-inverse, .btn-brand-sm;
  z-index: 1;

  padding: 5px 10px;
  font-size: 12px;


}

.btn-center-block{


  display: block;
  padding: 5px 5px 8px 5px;
  width: 100px;
  margin: 0 auto;
}

.search-btn{

}