.footer-content {
  padding-top: 10px;
  background: $color-footer-bg;
  display: block;
  height: initial;
  a {
    color: $color-footer-nav-text;
    font-family: $main-template-font;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0 10px 10px 10px;
    display: inline-block;
    padding-top: 3px;
    &:hover {
      color: $color-brand-primary-nav;
    }
  }
}
/* Social Icons Footer Visible only on Mobile */
.index-social-row {
  background: $color-footer-social-icons-bg;
  padding: 25px 0;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 15px;
  }
  i {
    font-size: 6vw;
    color: $color-brand-primary-nav;
    &:hover{

      color: $color-footer-nav-text;
    }
  }
}
