/*================ #Helper Classes ================*/
.clearfix {
  @include clearfix();
}

.visually-hidden {
  @include visually-hidden();
}

.visibility-hidden {
  visibility: hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.no-padding{
  padding: 0 !important;
}

@media screen and (min-width: 768px) {
  .no-padding-left{
    padding-left: 0 !important;
  }
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}
