.insta-feed {
  .darken {
    display: block;
    height: 100%;
    width: 100%;
    img {
      display: none;
    }
  }
  .insta-content {
    display: flex;
    width: 50%;
  }
  .insta-content:hover .insta-image{
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
  }
  .insta-image {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
  }
  #instafeed1 {
    margin: 0;
    display: flex;
    min-height: 400px;
    .col-md-6 {
      padding: 0;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }
    .insta-info {
      padding: 15px;
      font-family: 'DIN Cond';
      font-size: 18px;
      position: relative;
    }
    .white-arrow-left {
      border-bottom: 21px solid transparent;
      border-right: 21px solid #fff;
      border-top: 21px solid transparent;
      position: absolute;
      left: -21px;
      top: 44%;
      z-index: 1;
    }
    .caption {
      font-family: 'DIN MdCon';
    }
    .username {
      font-family: 'DIN MdCon';
      position: absolute;
      bottom: 0;
      margin-bottom: 15px;
    }
    .fa-instagram {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }

  #instafeed2 {
    margin: 0;
    display: flex;
    min-height: 400px;
    .col-md-6 {
      padding: 0;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }
    .insta-info {
      padding: 15px;
      font-family: 'DIN Cond';
      font-size: 18px;
      position: relative;
    }
    .white-arrow-right {
      border-bottom: 21px solid transparent;
      border-left: 21px solid #fff;
      border-top: 21px solid transparent;
      position: absolute;
      right: -21px;
      top: 44%;
      z-index: 1;
    }
    .caption {
      font-family: 'DIN MdCon';
    }
    .username {
      font-family: 'DIN MdCon';
      position: absolute;
      bottom: 0;
      margin-bottom: 15px;
    }
    .fa-instagram {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
  .insta-header {
    background-image: url('https://cdn.shopify.com/s/files/1/0259/2151/files/7.18.17-RS25-Background-Image-004.jpg?10485047089988606683');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 50px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 5px;
    h2{

      @extend .lh-original;
    }
  }

}
@media screen and (max-width: 991px) {

  .insta-feed {
    .darken {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .insta-image {
      background-image: none !important;
    }
    #instafeed1 {
      display: block;
      .insta-content {
        width: 100%;
        display: flex;
        &:nth-child(2) {
          flex-direction: row-reverse;
          .white-arrow-left {
            border-bottom: 21px solid transparent;
            border-left: 21px solid #fff;
            border-right: none;
            border-top: 21px solid transparent;
            position: absolute;
            right: -21px;
            top: 44%;
            left: initial;
            z-index: 1;
          }
        }
      }
    }
    #instafeed2 {
      display: block;
      .insta-content {
        width: 100%;
        display: flex;
        &:first-child {
          flex-direction: row-reverse;
          .white-arrow-right {
            border-bottom: 21px solid transparent;
            border-right: 21px solid #fff;
            border-left: none;
            border-top: 21px solid transparent;
            position: absolute;
            left: -21px;
            right: initial;
            top: 44%;
            z-index: 1;
          }
        }
      }
    }
  }

}



@media screen and (max-width: 767px) {  .insta-feed {
  .insta-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
    p {
      font-size: 30px;
      letter-spacing: 0;
    }
  }
  .insta-image{
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
  }
  #instafeed1 .owl-item {
    padding: 0;
  }
  #instafeed1 .owl-controls {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #instafeed1 .insta-content {
    display: block;
    .white-arrow-left {
      border-left: 21px solid transparent;
      border-bottom: 21px solid #fff;
      border-top: none;
      border-right: 21px solid transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -21px;
    }
    &:nth-child(2) .white-arrow-left {
      border-left: 21px solid transparent;
      border-bottom: 21px solid #fff;
      border-top: none;
      border-right: 21px solid transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -21px;
      right: initial;
    }
    .caption {
      margin-bottom: 10px;
    }
    .username {
      position: relative;
      margin: 0;
    }
  }
  #instafeed2 .insta-content {
    &:first-child,
    &:nth-child(2) {
      flex-direction: column-reverse;
    }
    flex-wrap: wrap;
    .white-arrow-right {
      border-left: 21px solid transparent;
      border-bottom: 21px solid #fff;
      border-top: none;
      border-right: 21px solid transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -21px;
      right: initial;
    }
    &:first-child .white-arrow-right {
      border-left: 21px solid transparent;
      border-bottom: 21px solid #fff;
      border-top: none;
      border-right: 21px solid transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -21px;
      right: initial;
    }
    .caption {
      margin-bottom: 10px;
    }
    .username {
      position: relative;
      margin: 0;
    }
  }
}
}
