// Media Gallery CSS

body.template-page-media {

  .wrap {
    background: $media-wrap-bg-color;
  }
  #content {
    background-image: url(#{$media-bg-img});
    background-size: $media-bg-img-size;
    background-position: center top;
    background-repeat: no-repeat;
  }


}

body.template-page-gallery {

  .wrap {
    background: $media-wrap-bg-color;
  }
  #content {
    background-image: url(#{$media-gallery-bg-img});
    background-size: $media-gallery-bg-img-size;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .page-header {
    flex-direction: column;
  }
  .page-header a {
    font-size: 16px;
    padding: 5px 10px;
    background: #fff;
    color: #000;
    font-weight: 100;
    word-spacing: 0;
    letter-spacing: 0;
  }
  .page-header a:hover {
    background: $color-brand-primary;
    color: #fff;
  }
  .page-header {
    color: #fff;
    font-size: 36px;
    padding: 0 10px;
  }
  @media screen and (max-width: 767px) {
    .page-header {
      color: #fff;
      font-size: 26px;
    }
  }


}

//removed from actual html page.

.lg-outer.fb-comments .fb-comments { display: none; }
@media (min-width: 750px){
  .bonfire-slideout-button,.btnzo{display:none;}

  .lg-outer.fb-comments .lg-img-wrap, .lg-outer.fb-comments .lg-video-cont {
    padding-right: 350px !important;
  }
  .lg-outer.fb-comments .fb-comments {
    display: block;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 370px;
    z-index: 99999;
    background: #fff url("https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif") no-repeat scroll center center;
  }
  .lg-outer.fb-comments .fb-comments.fb_iframe_widget {
    background-image: none;
  }
  .lg-outer.fb-comments .fb-comments.fb_iframe_widget.fb_iframe_widget_loader {
    background: #fff url("https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif") no-repeat scroll center center;
  }
  .lg-outer.fb-comments .lg-toolbar {
    right: 370px;
    width: auto;
  }
  .lg-outer.fb-comments .lg-actions .lg-next {
    right: 370px;
  }
  .lg-outer.fb-comments .lg-item {
    background-image: none;
  }
  .lg-outer.fb-comments .lg-item.lg-complete .lg-img-wrap, .lg-outer.fb-comments .lg-item.lg-complete .lg-video-cont {
    background-image: none;
  }
  .lg-outer.fb-comments .lg-img-wrap, .lg-outer.fb-comments .lg-video-cont {
    background: url("https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif") no-repeat scroll transparent;
    background-position: center center;
    background-position: calc((100% - 400px) / 2) center;
  }
  .lg-outer.fb-comments .lg-sub-html {
    padding: 0;
    position: static;
  }
  .lg-outer.fb-comments .lg-video-cont {
    max-width: 1250px !important;
  }
  .lg-outer.fb-comments .ads {
    display: block;
    overflow-y: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 370px;
    z-index: 99999;
  }
}

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.media-item__img {
  max-width: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}

.media-item__title {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}

.media {
  img {
@include   animation-mixin (all,0.3,ease-out,0.1)  -webkit-transition: all .3s ease-out 0.1s;
    -moz-transition: all .3s ease-out 0.1s;
    -o-transition: all .3s ease-out 0.1s;
    transition: all .3s ease-out 0.1s;
  }
  .ind-gallery:hover {
    h3 {
      color: $color-brand-primary-nav;
    }
    img{
      //transform: translateY(-20px);
    }
  }
  .ind-gallery:nth-child(3n+1) {
    clear: left;
  }
}

#photos {
  line-height: 0;
  -webkit-column-count: $media-gallery-columns-lg;
  -webkit-column-gap:   $media-gallery-column-gap;
  -moz-column-count:    $media-gallery-columns-lg;
  -moz-column-gap:      $media-gallery-column-gap;
  column-count:         $media-gallery-columns-lg;
  column-gap:           $media-gallery-column-gap;

}
#photos img {
  width: 100% !important;
  height: auto !important;
}

//Apollo Roll Over Effect

/* Apollo Hover Effect Converted to SCSS */

.apollo-effect {
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    img {
      width: 100%;
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
      border: 0;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &::before, ::after {

        pointer-events: none;
      }
    }
    figcaption, figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      span {
        font-weight: 800;
      }
    }
    h2, p {
      margin: 0;
    }
    p {
      letter-spacing: 1px;
      font-size: 68.5%;
    }

    &.effect-apollo {
      background: $color-brand-primary;
      img {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
      }
      figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      }
      p {
        font-family: 'Work Sans', sans-serif;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 3em;
        padding: 0 1em;
        max-width: 150px;
        border-right: 4px solid #fff;
        text-align: right;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
      }
      h2 {
        text-align: left;
      }
      &:hover {
        img {
          opacity: 0.5;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
        figcaption::before {
          -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
          transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        }
        p {
          opacity: 1;
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }
      }
    }
  }
}


@media screen and (max-width: 991px) {

  .media .ind-gallery:nth-child(3n+1) {
    clear: none;
  }
  .media .ind-gallery:nth-child(2n+1) {
    clear: left;
  }
  #photos {
    -moz-column-count:    $media-gallery-columns-md;
    -webkit-column-count: $media-gallery-columns-md;
    column-count:         $media-gallery-columns-md;
  }
}

@media screen and (max-width: 767px) {
  #photos {
    -moz-column-count: $media-gallery-columns-sm;
    -webkit-column-count: $media-gallery-columns-sm;
    column-count: $media-gallery-columns-sm;
  }
}

@media (max-width: 480px) {
  #photos {
    -moz-column-count: $media-gallery-columns-xs;
    -webkit-column-count: $media-gallery-columns-xs;
    column-count: $media-gallery-columns-xs;
  }
}