/* Sitewide Mixins */

/* Sldier Buttons */
@mixin slider_link($btn-color, $btn-hover-color, $btn-background-color:transparent, $btn-text-color-hover:$btn-light-color ) {
    -webkit-transition: all .3s ease-out 0.1s;
    -moz-transition: all .3s ease-out 0.1s;
    -o-transition: all .3s ease-out 0.1s;
    transition: all .3s ease-out 0.1s;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 25px;
    text-transform: uppercase;
    border: 2px solid $btn-color;
    color: $btn-color;
    background: $btn-background-color;
    &:hover {
        background: $btn-hover-color;
        border-color: $btn-hover-color;
        color: $btn-text-color-hover;
    }

}

/* Sldier Buttons */
@mixin slider_link_custom($btn-text-color, $btn-border-color, $btn-bg-color, $btn-text-color-h, $btn-border-color-h, $btn-bg-color-h  ) {
    -webkit-transition: all .3s ease-out 0.1s;
    -moz-transition: all .3s ease-out 0.1s;
    -o-transition: all .3s ease-out 0.1s;
    transition: all .3s ease-out 0.1s;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 25px;
    text-transform: uppercase;
    border: 2px solid $btn-border-color;
    color: $btn-text-color;
    background: $btn-bg-color;
    &:hover {
        background: $btn-bg-color-h;
        border-color: $btn-border-color-h;
        color: $btn-text-color-h;
    }

}

@mixin bg-center-cover(){

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin slider_text ($left_post, $right_pos:auto){

    position: absolute;
    text-align: center;
    top: 50%;
    right: $right_pos;
    left: $left_post;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant-mvp($color, $background, $border, $border-size) {
    color: $color;
    background-color: $background;
    border-color: $border;
    border-width:$border-size;

    &:focus,
    &.focus {
        color: $color;
        background-color: $color;
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $background;
        background-color: $color;
        border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $background;
        background-color: $color;
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $background;
            background-color: $color;
            border-color: darken($border, 25%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

@mixin main_font_stack(){


    font-family: $main-template-font;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42858;
    font-size: 14px;
    color: #000;
}

@mixin visually-hidden() {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@mixin visually-shown() {
    // sass-lint:disable no-important
    position: inherit !important;
    overflow: auto;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

@mixin make-flex-div(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin owl-bg-control($owl-img, $owl-pos, $owl-size){

    background-image: url(#{$owl-img});
    background-position: $owl-pos;
    background-size: $owl-size;
    background-repeat: no-repeat;

}

.black-bg{
    background-color:#000;
}
