/* SKW Core Styles */
.skw-list {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skw-loader {
  position: absolute;
  top: 0;
  height: 100%;
}

.skw-list > li {
  position: relative;
  overflow: hidden;
  list-style-type: none;
  float: left;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}

.skw-list > li .skw-content {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.skw-nav:hover {
  opacity: 1;
}

.skw-nav > span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.skw-dots {
  display: inline-block;
  vertical-align: middle;
}

.skw-dots:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.skw-dots span {
  cursor: pointer;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #fff;
  margin: 5px;
}

.skw-itemNext, .skw-itemPrev {
  cursor: pointer;
}

.skw-trans {
  opacity: 0!important;
  pointer-events: none;
}

.skw-noTransition .skw-list > li, .skw-noTransition .skw-list {
  -webkit-transition: -webkit-transform 0s!important;
  -moz-transition: all 0s!important;
  -ms-transition: all 0s!important;
  transition: -webkit-transform 0s!important;
  -webkit-transition-delay: 0!important;
  transition-delay: 0!important;
}

.skw-noEvents .skw-list > li {
  pointer-events: none!important;
}

.skw-list > li.skw-infLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.skw-noTransition {
  pointer-events: none;
}


/*SKW Dark */
.skw-nav > span {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  opacity: 1;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  color: #000;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}

.skw-nav > span i {
  color: #333;
}

.skw-prev {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 18px;
}

.skw-next {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  text-align: center;
  font-size: 18px;
}

.skw-dots {
  display: none;
  vertical-align: middle;
  margin: 0 20px;
}

.widget-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* SKW Styles */

.skw-list:hover .skw-content:after {
  background: rgba(0,0,0,.6);
}

.skw-itemActive .skw-content:after {
  background: rgba(0,0,0,0);
  -webkit-transition-delay: all .3s;
  -webkit-transition: all .8s;
}

.skw-visible .skw-content :after {
  background: rgba(0,0,0,0)!important;
}

.skw-list .skw-content:hover:after {
  background: rgba(0,0,0,0);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  box-shadow: 0;
}

.skw-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  -webkit-transition: all .9s;
  transition: all .9s;
  top: 0;
  left: 0;
  pointer-events: none;
}

.skw-list > li:after {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 9;
  -webkit-transition: all 1s;
  pointer-events: none;
}

.skw-nav:hover {
  opacity: 1;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  background: rgba(0,0,0, .7);
}

.skw-caption {
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
  z-index: 999;
  a {

    @extend .btn-brand-default;
    @extend .btn-dark;
    font-family: $skw-font;
    font-weight: bold;
    font-size: 3vw;
    letter-spacing:$skw-font-letter-spacing;
    background-color: rgba(0, 0, 0, 0.5);
    border: $skw-border-width solid #fff;
    padding: $skw-buttons-padding;
    margin: 0 auto;
    padding-top: $skw-text-padding;

    &:hover {
      background: $color-brand-primary;
      border-color: $color-brand-primary;
      color: #fff;
    }

    @media screen and (max-width: 767px) {
      font-size:30px;
    }
  }
}

.skw-itemNext .skw-content:after {
  background-color: $skw-bg-next;
}

.skw-itemPrev .skw-content:after {
  background-color: $skw-bg-prev;
}

.main-slide .skw-content {
  padding-top: 20px;
}
.skewSlider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  pointer-events: none;
}

.main-slide .skw-list > li .skw-content.slide1 {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.skw-caption {
  color: #fff;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
  z-index: 999;
}

.main-slide .skw-list > li .skw-content.slide2 {
  background-color: #9ACD32;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.main-slide .skw-list > li.skw-itemActive .skw-content.slide2 {
  background-color: #4169E1;
}

.info h2 {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5em;
  padding-left: 20%;
  padding-top: 30px;
}




@media only screen and (max-width: 600px) {
  .main-slide .slide1 h2:before {
    -webkit-transform: skew(-20deg,0);
    transform: skew(-20deg,0);
  }
  .main-slide .slide1 h2 {
    font-size: 1.4em;
    padding: 10px 20px;
  }
  .main-slide .slide1 .copy {
    position: absolute;
    bottom: 10%;
    right: 20%;
  }
  .skw-nav {
    display: none;
  }

  .demos .demo {
    margin: 2%;
    width:  96%;
  }
  .feature {
    width: 98%;
  }
  .skw-caption {
    color: #fff;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
    z-index: 999;
    opacity: 0;
  }
}