/* Variables to Use to change main values for different templates */

/* Colors */

$color-brand-primary: #0c371d;
$color-brand-secondary: #192f6b;
$color-cart-button: #06192e;

/* Used for nav and base link hover state */

$color-brand-primary-nav: #65c402;

$color-brand-body-color: #FFF;

/* Button Variables */

$btn-brand-font-weight:500;
$font-size-brand-base:16px;
$font-button-letter-spacing: 4px;

$button-brand-primary-text: #FFF;

/* Body Text Color */
$color-light-text: #FFF;
$color-light-p-text: #DDD;

$color-link-hover: $color-brand-primary-nav;

$dropdown-link-hover-color: #000;
$dropdown-link-hover-bg: #000;

$brand-h2-heading-color: $color-brand-primary;
$brand-h2-heading-light-color: #FFF;
$brand-h2-sub-heading-color: #000;

/* General UI Colors */
$color-footer-bg: #000;
$color-footer-nav-text: #FFF;

$color-footer-social-icons-bg: #3b3838;

/* Blog and News Colors */

$color-news-date: #FFF;
$color-news-article-date: #65c402;
$color-news-posted-by: #777;

/* Skw slider hover background */
$skw-bg-prev: rgba($color-brand-primary, 0.6);
$skw-bg-next: rgba(12, 55, 29, 0.6);

$btn-light-color: #000;
$btn-light-bg: #fff;
$btn-light-border: #fff;

$color-brand-light-gray:#CCC;
$color-brand-mid-gray: #777;
$color-brand-dark-gray: #202020;
$color-brand-black: #000;

$btn-dark-color: #FFF;
$btn-dark-bg: #000;
$btn-dark-border: #000;

$dropdown-link-color: #fff;
$border-radius-base: 3px;
$owl-news-body-text-color: #fff;

//** Background for the dropdown menu.
$dropdown-bg: #fff !default;

$font-size-base: 14px !default;


/* Typography Mixin */

$font-family-work-sans:       'Work Sans', sans-serif !default;
$font-family-bebas:           'Bebas Neue' !default;
$font-family-bebas-bold:      'Bebas Neue Bold' !default;
$font-family-big-noodle:      'BigNoodleTitling' !default;
$font-family-din-cond:        'DIN Cond' !default;
$font-family-din-bold:        'DIN Bold' !default;
$font-family-din-lt-cond:     'DIN LtCon' !default;
$font-family-din-bd-cond:     'DIN BdCon' !default;
$font-family-din-md-cond:     'DIN MdCon' !default;
$font-family-din-lt:          'DIN Lt' !default;
$font-family-helvetica-neue:  "Helvetica Neue", Helvetica, Arial, sans-serif;

$main-template-font:          $font-family-work-sans;
$font-slider-titles:          $font-family-bebas-bold;
$font-product-info-overlay:   $font-family-din-md-cond;

/*eCommerce Store, Accounts, Rewards */

$font-family-account-main:    $font-family-work-sans;
$font-family-account-secondary: $font-family-big-noodle;
$color-account-bg:            #f9f7f6;
$font-family-account-labels:  $font-family-helvetica-neue;

$font-main-brand:             $font-family-bebas-bold;
$font-main-buttons:           $font-family-work-sans;
$font-main-text:              $font-family-work-sans;

$font-brand-button-tertiary:  $font-family-bebas;

$font-blog-date:              $font-family-bebas;
$font-secondary-buttons:      $font-family-helvetica-neue;
$font-slider-buttons:         $font-family-helvetica-neue;
$font-account-buttons:        $font-family-big-noodle;
$font-secondary-h2:           $font-family-big-noodle;
$font-main-nav:               $font-family-bebas;
$font-sub-title-secondary:    $font-family-din-lt;
$color-sub-title-secondary:   $color-brand-primary;

/* Paddings and Margins */
$thumbnail-caption-padding:    9px !default;

/* Newsletter Styles */
$font-newsletter-input:    $font-family-din-bold;
$color-newsletter-input-border: #BBB;
$placeholder-text-color: $color-newsletter-input-border;
$color-newsletter-button-bg: $color-brand-primary;

$logo-height: 33px;
$logo-width: auto;

/* Countdown Styles */
$font-countdown-number: $font-family-din-cond;
$font-countdown-title: $font-family-bebas;

/* Main Slider Variables */
$font-slider-titles: $font-family-bebas-bold;
$font-slider-text-shadow: none; /* -2px 0px 20px rgba(0, 0, 0, 1) */
$font-slider-text-shadow-secondary: none; /* -2px 0px 20px rgba(0, 0, 0, 1) */

$color-slider-titles:         $color-brand-primary;
$color-slider-titles-dark:    #FFF;

/*Font Sizes */

/* Main Page Header */
$font-weight-h2:              bold;
$font-size-h2:                60px;
$font-spacing-h2:             4px;
$font-lineheight-h2:           1.1;

/* Nav */
$font-size-nav:               26px;
$font-size-nav-sm:            $font-size-nav - 2px;
$font-size-nav-icons:         $font-size-nav-sm - 2px;

$width-site:                  1200px;

/* SKW Slider */
$skw-border-width:3px;
$skw-buttons-padding: 0 10px;
$skw-font: $font-family-work-sans;
$skw-font-letter-spacing: 0;
$skw-text-padding:0;

/* Insta Feed */
$font-family-insta-feed: $font-family-din-md-cond;
$font-family-insta-feed-titles: $font-family-din-cond;
$font-size-insta-feed-titles: 18px;
$insta-feed-bg-img: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.18.17-RS25-Background-Image-004.jpg?10485047089988606683';
$color-insta-feed-bg: #FFF;

/*Slider Variables */
$color-slider-radio: #aaa;
$color-slider-radio-active: #fff;

$color-stats-bg: $color-brand-primary;
$color-stats-value: #fff;
$color-stats-title-value: #ccc;

$overlay-img-bg:'https://cdn.shopify.com/s/files/1/0535/3409/files/Blue-Hero-min.jpg?14462823438105375394';
/* Home Page Owl News */
$owl-img-1: 'https://cdn.shopify.com/s/files/1/2292/0769/t/2/assets/news_1.jpg?4613713377817309306';
$owl-img-2: 'https://cdn.shopify.com/s/files/1/2292/0769/t/2/assets/news_2.jpg?4613713377817309306';
$owl-img-3: 'https://cdn.shopify.com/s/files/1/2292/0769/t/2/assets/news_3.jpg?4613713377817309306';
$owl-img-4: 'https://cdn.shopify.com/s/files/1/2292/0769/t/2/assets/news_4.jpg?4613713377817309306';
$owl-pos: default !default;
$owl-size: default !default;

/* Media Pages */
$media-bg-img:'https://cdn.shopify.com/s/files/1/2292/0769/files/9.21.17-JM95-Website-Desktop-Media-BackgroundImage-01.jpg?15336542491135157682';
$media-gallery-bg-img:'https://cdn.shopify.com/s/files/1/2292/0769/files/9.21.17-JM95-Website-Desktop-Media-BackgroundImage-01.jpg?15336542491135157682';
$media-bg-img-size: contain;
$media-gallery-bg-img-size: contain;

$media-wrap-bg-color: #282828;

$media-gallery-columns-lg: 4;
$media-gallery-columns-md: 3;
$media-gallery-columns-sm: 2;
$media-gallery-columns-xs: 1;
$media-gallery-column-gap: 0px;

/* Rewards */
$rewards-login-bg-img: 'https://cdn.shopify.com/s/files/1/0259/2151/files/RS25-LoginBox.jpg?6441389875070774912';

/* Main Background Image on Product Slider */
$main-bg-img:'https://cdn.shopify.com/s/files/1/2292/0769/files/9.19.17-JM95-Website-Desktop-Apparel-01.jpg?12061983155472766960';

/* News Page Variables */
$blog-bg-img: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.31.17-RS25-Website-2017-BlogPage-001.jpg?11652835036440552667';
$color-blog-bg: #fefefe;
$color-blog-news-bg: #202020;
$news-bg-img: 'https://cdn.shopify.com/s/files/1/2292/0769/files/9.21.17-JM95-Website-2017-News-Background-01.jpg?14516689298437051388';

/* Foundation on Home and Internal*/
$font-size-foundation-body: 16px;
$foundation-bg-img:'https://cdn.shopify.com/s/files/1/0259/2151/files/7.18.17-RS25-Background-Image-003.jpg?18356651564452868234';
$color-foundation-header-1: #999;
$color-foundation-header-2: #fff;

$index-bio-bg-img: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.21.17-RS25-BlogBkgrnd-Graphic-001.jpg?1294120…';
$newsletter-bg-img: 'https://cdn.shopify.com/s/files/1/2292/0769/files/9.19.17-JM95-Website-Desktop-Newsletter-01.jpg?18100947108492007874';

$foundation-bg: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.18.17-RS25-Charity-Image-001.jpg?10286305261302719757';
$foundation-gallery-bg: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.28.17-RS25-Website-2017-FoundationsPage-Collage-2-001.jpg?594795211302029631';
$schedule-bg-img: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-Banner-Image-001-min.jpg?174528367304382617';

/* Bio Images */
$bio-img-1: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-Banner-Image-001-min.jpg?174528367304382617';
$bio-img-2: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-HighSchool-Image-001-min.jpg?174528367304382617';
$bio-img-3: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-College-Image-001-min.jpg?174528367304382617';
$bio-img-4: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-Champs-Image-001-min_98d395cf-0d92-46f5-9932-a370f55a27ea.jpg?5725131098486448868';
$bio-img-5: 'https://cdn.shopify.com/s/files/1/0259/2151/files/7.26.17-RS25-WhatNow-Image-001-min.jpg?174528367304382617';

/*
$skw-img-1: 'https://cdn.shopify.com/s/files/1/0259/2151/t/105/assets/media_slider_1.jpg?13550032680311357315';
$skw-img-2: 'https://cdn.shopify.com/s/files/1/0259/2151/t/105/assets/media_slider_2.jpg?13550032680311357315';
$skw-img-3: 'https://cdn.shopify.com/s/files/1/0259/2151/t/105/assets/media_slider_3.jpg?13550032680311357315';
$skw-img-4: 'https://cdn.shopify.com/s/files/1/0259/2151/t/105/assets/media_slider_4.jpg?13550032680311357315';
*/



